header{
  text-align: center;
}


section {
  display: flex;
  justify-content: space-around;
}
article{
  display: flex;
  justify-content: space-around;
}

li{
  list-style: none;
}


footer {
  text-align: center;
}
