html {
  background-color: lightgreen;
  font-size: 1rem;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

h1 {
  border: 1rem;
  border-radius: 0.5rem;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.href-group {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
a {
  margin: 10px;
  padding: 0.6rem 1.3rem;
  border: none;
  border-radius: 0.5rem;
  background: rgb(0, 128, 19);
  box-shadow: 0.5rem 0.5rem 0.6rem black;
}
a:hover {
  padding: 0.8rem 1.5rem;
  box-shadow: 0.5rem 0.5rem 0.6rem black;
  background-color: white;
}

